<div class="container-fluid">
	<!-- Invalid credentials starts here -->
	<div class="alert alert-danger" id="alert" role="alert" *ngIf="failure">
		Invalid Credentials. Please try again!
		<button type="button" class="close" (click)="removeAlert()">
      <span aria-hidden="true">&times;</span>
    </button>
	</div>
	<!-- Invalid credentials ends here -->

	<!-- Loader starts here -->
	<div class="d-flex justify-content-center" *ngIf="displayLoader">
		<div class="spinner-border text-primary" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>
	<!-- Loader ends here -->

	<!-- Login form starts here -->
	<div *ngIf="!displayLoader">
		<h2>Login form</h2>
		<form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
			<div class="form-row">
				<div class="form-group col-md-12">
					<label for="student_no">Student number</label>
					<input type="number" class="form-control" id="student_no" name="student_no" [(ngModel)]="student_no" placeholder="Enter student number">
        </div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-12">
						<label for="password">Password</label>
						<input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" placeholder="Enter password">
        </div>
					</div>
					<div class="form-row">
						<div class="col-md-4">
							&nbsp;
						</div>
						<div class="col-md-4">
							<button type="submit" class="btn btn-primary">Login</button>
						</div>
						<div class="col-md-4">
							&nbsp;
						</div>
					</div>
		</form>
	</div>
	<!-- Login form ends here -->
</div>