<div class="container-fluid">
	<!-- Success message starts here -->
	<div class="alert alert-success" id="alert" role="alert" *ngIf="success">
		Registration Successful!
		<button type="button" class="close" (click)="removeAlert()">
      <span aria-hidden="true">&times;</span>
    </button>
	</div>
	<!-- Success message ends here -->

	<!-- Success message starts here -->
	<div class="alert alert-danger" id="alert" role="alert" *ngIf="failure">
		Registration Failed. Please try again!
		<button type="button" class="close" (click)="removeAlert()">
      <span aria-hidden="true">&times;</span>
    </button>
	</div>
	<!-- Success message ends here -->

	<!-- Loader starts here -->
	<app-loader *ngIf="displayLoader"></app-loader>
	<!-- Loader ends here -->

	<!-- Registration form starts here -->
	<div *ngIf="!displayLoader">
		<h2>Registration form</h2>
		<form #regForm="ngForm" (ngSubmit)="register(regForm)">
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="name">Student name</label>
					<input type="text" class="form-control" id="name" name="name" [(ngModel)]="name" placeholder="Enter student name">
        </div>
					<div class="form-group col-md-6">
						<label for="student_no">Student number</label>
						<input type="number" class="form-control" id="student_no" name="student_no" [(ngModel)]="student_no" placeholder="Enter student number">
        </div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="branch">Branch</label>
							<input type="text" class="form-control" id="branch" name="branch" [(ngModel)]="branch" placeholder="Enter branch">
        </div>
							<div class="form-group col-md-6">
								<label for="mobile_no">Mobile number</label>
								<input type="number" class="form-control" id="mobile_no" name="mobile_no" [(ngModel)]="mobile_no" placeholder="Enter mobile number">
        </div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="email">Email</label>
									<input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" placeholder="Enter email">
        </div>
									<div class="form-group col-md-6">
										<label for="password">Password</label>
										<input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" placeholder="Enter password">
        </div>
									</div>
									<div class="form-row">
										<div class="col-md-5">
											&nbsp;
										</div>
										<div class="col-md-2">
											<button type="submit" class="btn btn-primary">Register</button>
										</div>
										<div class="col-md-5">
											&nbsp;
										</div>
									</div>
		</form>
	</div>
	<!-- Registration form ends here -->
</div>